{% extends 'form/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div style="top-margin: 30px">
    <img src="" style="{{ student.profile_picture.url }} style='height: 100px; width: 100px; border-radius: 50%'">
    Name: {{ student.name }}
    Age: {{ student.age }}
    Department: {{ student.studentprofile.department }}
    Classroom: {{ student.classrooms }}
    Address: {{ profile.department }}
    Phone Number: {{ profile.department }}
    Email: {{ profile.department }}
</div>
{% endblock %}